/* css styles */
.p, p {
  font-family: Nunito, sans-serif;
  font-size: 1em; /* 16-17px; */
}

.ol, ol {
  text-align: left;
}

.bf, bf {
  font-weight: bold;
}

.h4, h4,
.h3, h3,
.h2, h2,
.h1, h1 {
  font-weight: bold;
  color: #053c5e;
  border-bottom: none;
  letter-spacing: 120%;
  line-height: 150%;
  text-align: center;
  font-family: Inter, sans-serif;
}

.h4, h4 {
  text-align: left;
  font-family: Nunito, sans-serif;
  font-size: 1em;
  text-align: left;
}

.h3, h3 {
  font-size: 1.25em;
}

.h2, h2 {
  font-size: 1.5em;
}

.h1, h1 {
  font-size: 2em;
  text-transform: uppercase;
}

.title, title {
  font-weight: 800;
  border-bottom: none;
  padding-top: 10px;
  color: #053c5e;
  box-sizing: border-box;
}

.nav-footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.nav-footer-center {
  flex-grow: 0;
}