/* css styles */
.p, p {
    text-align: left;
    font-family: Nunito, sans-serif;
    font-size: 1em; /* 16-17px; */
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

.ol, ol {
    text-align: left;
}

.bf, bf {
  font-weight: bold;
}

.h4, h4,
.h3, h3,
.h2, h2,
.h1, h1 {
  font-weight: bold;
  color: #053c5e;
  border-bottom: none;
  letter-spacing: 120%;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  font-family: Inter, sans-serif;
}

.h4, h4 {
  text-align: left;
  font-family: Nunito, sans-serif;
  font-size: 1em;
  text-transform: none;
  text-align: left;
}

.h3, h3 {
  font-size: 1.25em;
  text-transform: none;
}

.h2, h2 {
  font-size: 1.75em;
}

.h1, h1 {
  font-size: 2em;
}

.title, title {
  margin-top: 5em;
  margin-bottom: 5em;
  font-weight: 800;
  border-bottom: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 5empx;
  color: #053c5e;
  line-height: 1.5;
  box-sizing: border-box;
}