/* css styles */
.p, p {
  font-family: Nunito, sans-serif;
  font-size: 1em; /* 16-17px; */
  margin-bottom: 1rem;
}

.ol, ol {
  text-align: left;
}

.bf, bf {
  font-weight: bold;
}

.h4, h4,
.h3, h3,
.h2, h2,
.h1, h1 {
  font-weight: bold;
  color: #053c5e;
  border-bottom: none;
  letter-spacing: 120%;
  line-height: 150%;
  font-family: Inter, sans-serif;
}

.h4, h4 {
  text-align: left;
  font-family: Nunito, sans-serif;
  font-size: 1em;
  line-height: 100%;
  text-align: left;
}

.h3, h3 {
  font-size: 1.25em;
  text-align: left;
}

.h2, h2 {
  font-size: 1.5em;
  text-align: left;
}

.h1, h1 {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}

.title, title {
  font-weight: 800;
  border-bottom: none;
  padding-top: 10px;
  color: #053c5e;
  box-sizing: border-box;
}

.nav-footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.nav-footer-center {
  flex-grow: 0;
}

.max-width {style="max-width: 100%;"}

.image-card {
    box-shadow: 10px 10px 5px lightgrey;
    width=250px;
}

.how-to-play {
    position: relative;
    border: 5px dashed #053c5e;
    border-radius: 1em;
    padding-block: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

/** LIGHTBOX MARKUP **/

.lightbox {
  /* Default to hidden */
  display: none;

  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* A bit of padding around image */
  padding: 1em;

  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  /* Full width and height */
  display: block;
  width: 100%;
  height: 100%;

  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
